<MudDialog Style="height: 100%">
    <DialogContent>
<MudMenu Dense PositionAtCursor>
    <ActivatorContent>
        @{
            var priority = "1";
            switch (priority)
            {
                case "1":
                    <MudChip T="string" Size="Size.Small" Label="true" Variant="Variant.Filled" style="font-weight: normal; color: black; background-color: #FED6D3">Priority 1</MudChip>
                    break;
                case "2":
                    <MudChip T="string" Size="Size.Small" Label="true" Variant="Variant.Filled" style="font-weight: normal; color: black; background-color: #FDDFCA">Priority 2</MudChip>
                    break;
                case "3":
                    <MudChip T="string" Size="Size.Small" Label="true" Variant="Variant.Filled" style="font-weight: normal; color: black; background-color: #F6E8A7">Priority 3</MudChip>
                    break;
                case "4":
                    <MudChip T="string" Size="Size.Small" Label="true" Variant="Variant.Filled" style="font-weight: normal; color: black; background-color: #C8ECFA">Priority 4</MudChip>
                    break;
                case "5":
                    <MudChip T="string" Size="Size.Small" Label="true" Variant="Variant.Filled" style="font-weight: normal; color: black; background-color: #CEDFFD">Priority 5</MudChip>
                    break;
                case null:
                    <MudChip T="string" Size="Size.Small" Label="true" Variant="Variant.Filled">None</MudChip>
                    break;
            }
        }
    </ActivatorContent>
    <ChildContent>
        <div style="min-width: 100px">
                        <MudMenuItem style="font-weight: normal; color: black; background-color: #FED6D3">Priority 1</MudMenuItem>
                        <MudMenuItem style="font-weight: normal; color: black; background-color: #FDDFCA">Priority 2</MudMenuItem>
                        <MudMenuItem style="font-weight: normal; color: black; background-color: #F6E8A7">Priority 3</MudMenuItem>
                        <MudMenuItem style="font-weight: normal; color: black; background-color:#C8ECFA">Priority 4</MudMenuItem>
                        <MudMenuItem style="font-weight: normal; color: black; background-color:#CEDFFD">Priority 5</MudMenuItem>
            <MudMenuItem>None</MudMenuItem>
        </div>
    </ChildContent>
</MudMenu>
</DialogContent>    
</MudDialog>

@code {
    [Parameter]
    public required string Hello { get; set; }
}